body {
	background-color: #2e3561;
	margin: 0;
	font-family: 'routed-gothic', sans-serif;
	text-transform: uppercase;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-image: url('../img/interlingue_inititive_bg_v3.png');
	background-repeat: repeat;
}

@font-face {
	font-family: 'routed-gothic';
	src: url(fonts/routed-gothic.ttf);
}

a {
	color: whitesmoke;
}

header > img {
	max-width: 210px;
	height: auto;
}

.tilde {
	margin: auto;
	font-size: 10em;
}

.tilde-info {
	margin: auto;
}

header, #main-content {
	display: flex;
	flex-direction: column;
	max-width: 420px;
	margin: auto;
	padding: 30px 15px 15px 15px;

}

#main-content {
	flex-grow: 1;
}

#main-content h1, #main-content p {
	text-align: center;
}

ul {
	list-style-type: none;
}

ul li {
	padding-bottom: 15px;
}

footer {
	text-align: center;
}